<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>index</title>
  </head>
  <!-- BODY START!!! -->
  <body>
    <container class="container1">
      <h1 class="header">Movies2Music</h1>
    </container>

    <container class="container2">
      <h3 style="align-self: center">Click to Start:</h3>
      <a class="button" href="/login">
        <!-- Login &nbsp;<i class="fa fa-spotify" href="/login"></i> -->
        Start &nbsp;<i class="fa fa-spotify" href="/search"></i>
      </a>
    </container>
    <container class="container3"> </container>
  </body>
</html>
